# Environment
.env
.env.local

# Backend
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar

# Frontend
frontend/node_modules/
frontend/dist/
frontend/node_modules/.tmp/

# IDE / OS
.idea/
*.iml
.vscode/
.DS_Store
.vercel
.env*
!.env.example
